@charset "UTF-8";

/* Обнуляющий стиль */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol li,
ul li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  font-size: 14px;
  line-height: 1;
  font-family: Gilroy;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* -------------- */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* -------------- */

._container {
  max-width: 1140px;
  margin: 0px auto;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

/* -------------- */

._no-webp .main__mount{
  background: url("../img/mao.jpg") 0 0/contain repeat-x; }

.main__mount {
  width: 100%;
  height: 500px;
  -webkit-animation: mount 40s linear infinite;
          animation: mount 40s linear infinite;
}

@-webkit-keyframes mount {
  0% {
    background-position: -1000px 100%, 0 0;
  }

  100% {
    background-position: 0 100%;
  }
}

@keyframes mount {
  0% {
    background-position: -1000px 100%, 0 0;
  }

  100% {
    background-position: 0 100%;
  }
}

._no-webp .main__city{
  background: url("../img/unnamed.png") 0 360px repeat-x; }

.main__city {
  width: 100%;
  height: 500px;
  animation: city 70s linear infinite reverse;
}

.main__road {
  background-color: #777a77;
  width: 100%;
  height: 200px;
  position: relative;
}

.main__road:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 100%;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.main__car {
  display: inline-block;
  position: relative;
  top: -240px;
  left: 0;
  -webkit-animation: car 5s linear forwards, car2 3s linear  forwards 8s;
          animation: car 5s linear forwards, car2 3s linear  forwards 8s;
}

.main__car img {
  width: 550px;
}

.main__car:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 1px;
  top: 161px;
  left: 64px;
  -webkit-box-shadow: 0px 0 0px 0px #f4f18c;
          box-shadow: 0px 0 0px 0px #f4f18c;
  -webkit-animation: shadou 1s linear 6s;
          animation: shadou 1s linear 6s;
}

@-webkit-keyframes shadou {
  0% {
    -webkit-box-shadow: 0px 0 0px 0px #f4f18c;
            box-shadow: 0px 0 0px 0px #f4f18c;
  }

  33% {
    -webkit-box-shadow: -60px 0 60px 50px #f4f18c;
            box-shadow: -60px 0 60px 50px #f4f18c;
  }

  66% {
    -webkit-box-shadow: 0px 0 0px 0px #f4f18c;
            box-shadow: 0px 0 0px 0px #f4f18c;
  }

  100% {
    -webkit-box-shadow: -60px 0 60px 50px #f4f18c;
            box-shadow: -60px 0 60px 50px #f4f18c;
  }
}

@keyframes shadou {
  0% {
    -webkit-box-shadow: 0px 0 0px 0px #f4f18c;
            box-shadow: 0px 0 0px 0px #f4f18c;
  }

  33% {
    -webkit-box-shadow: -60px 0 60px 50px #f4f18c;
            box-shadow: -60px 0 60px 50px #f4f18c;
  }

  66% {
    -webkit-box-shadow: 0px 0 0px 0px #f4f18c;
            box-shadow: 0px 0 0px 0px #f4f18c;
  }

  100% {
    -webkit-box-shadow: -60px 0 60px 50px #f4f18c;
            box-shadow: -60px 0 60px 50px #f4f18c;
  }
}

.main__car:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 1px;
  top: 161px;
  left: 464px;
  -webkit-box-shadow: 0px 0 0px 0px #f4f18c;
          box-shadow: 0px 0 0px 0px #f4f18c;
  -webkit-animation: shadou2 1s linear 6s;
          animation: shadou2 1s linear 6s;
}

@-webkit-keyframes shadou2 {
  0% {
    -webkit-box-shadow: 0px 0 0px 0px #f4f18c;
            box-shadow: 0px 0 0px 0px #f4f18c;
  }

  33% {
    -webkit-box-shadow: 0 0 60px 50px #f4f18c;
            box-shadow: 0 0 60px 50px #f4f18c;
  }

  66% {
    -webkit-box-shadow: 0px 0 0px 0px #f4f18c;
            box-shadow: 0px 0 0px 0px #f4f18c;
  }

  100% {
    -webkit-box-shadow: 0 0 60px 50px #f4f18c;
            box-shadow: 0 0 60px 50px #f4f18c;
  }
}

@keyframes shadou2 {
  0% {
    -webkit-box-shadow: 0px 0 0px 0px #f4f18c;
            box-shadow: 0px 0 0px 0px #f4f18c;
  }

  33% {
    -webkit-box-shadow: 0 0 60px 50px #f4f18c;
            box-shadow: 0 0 60px 50px #f4f18c;
  }

  66% {
    -webkit-box-shadow: 0px 0 0px 0px #f4f18c;
            box-shadow: 0px 0 0px 0px #f4f18c;
  }

  100% {
    -webkit-box-shadow: 0 0 60px 50px #f4f18c;
            box-shadow: 0 0 60px 50px #f4f18c;
  }
}

@-webkit-keyframes car {
  0% {
    left: -600px;
  }

  100% {
    left: 500px;
  }
}

@keyframes car {
  0% {
    left: -600px;
  }

  100% {
    left: 500px;
  }
}

@-webkit-keyframes car2 {
  0% {
    left: 500px;
  }

  100% {
    left: 2500px;
  }
}

@keyframes car2 {
  0% {
    left: 500px;
  }

  100% {
    left: 2500px;
  }
}

@-webkit-keyframes city {
  0% {
    background-position: -1000px 100%, 0 0;
  }

  100% {
    background-position: 0 100%;
  }
}

@keyframes city {
  0% {
    background-position: -1000px 100%, 0 0;
  }

  100% {
    background-position: 0 100%;
  }
}

.main__car2 {
  display: inline-block;
  position: relative;
  top: -778px;
  left: 2571px;
  animation: tesla 5s linear reverse 2s;
}

@-webkit-keyframes tesla {
  0% {
    left: -2571px;
  }

  100% {
    left: 10000px;
  }
}

@keyframes tesla {
  0% {
    left: -2571px;
  }

  100% {
    left: 10000px;
  }
}

@media (max-width: 1180px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  ._container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  ._container {
    max-width: none;
    padding: 0px 15px;
  }
}

._webp .main__mount{ background: url(../img/mao.webp) 0 0/contain repeat-x; }

._webp .main__city{ background: url(../img/unnamed.webp) 0 360px repeat-x; }